absl-py==0.9.0
app==0.0.1
asgiref==3.2.4
astor==0.8.1
astropy==4.0.1.post1
attrs==19.3.0
Automat==20.2.0
awscli==1.18.51
azure-cognitiveservices-vision-computervision==0.5.0
azure-common==1.1.25
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.5
blis==0.4.1
boto==2.49.0
boto3==1.13.1
botocore==1.16.1
bs4==0.0.1
cachetools==4.1.0
catalogue==1.0.0
catboost==0.20.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chart-studio==1.1.0
Click==7.0
colorama==0.4.3
colorlover==0.3.0
combo==0.1.0
confuse==1.1.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cufflinks==0.17.0
cycler==0.10.0
cymem==2.0.3
datefinder==0.7.0
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
dill==0.2.5
Django==3.0.4
django-extensions==2.2.8
django-extra-views==0.11.0
django-haystack==2.8.1
django-oscar==2.0.4
django-phonenumber-field==2.0.1
django-tables2==1.21.2
django-treebeard==4.3.1
django-widget-tweaks==1.4.5
djangorestframework==3.11.0
dlib==19.19.0
docutils==0.15.2
entrypoints==0.3
factory-boy==2.12.0
Faker==4.0.1
fitbert==0.4.0
Flask==1.1.2
funcy==1.14
future==0.18.2
gast==0.2.2
gensim==3.8.3
google-auth==1.14.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14
grpcio==1.28.1
h5py==2.10.0
html5lib==1.1
htmlmin==0.1.12
hyperlink==19.0.0
idna==2.9
imageio==2.8.0
importlib-metadata==1.6.0
imutils==0.5.3
incremental==17.5.0
InvoiceGenerator==1.1.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Kivy==1.11.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
kmodes==0.10.1
libs==0.0.9
lightgbm==2.3.1
llvmlite==0.32.0
lxml==4.5.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
missingno==0.4.2
mistune==0.8.4
mlxtend==0.17.2
more-itertools==8.2.0
msrest==0.6.13
murmurhash==1.0.2
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
nltk==3.5
notebook==6.0.3
numba==0.49.0
numexpr==2.7.1
numpy==1.18.2
numpycnn==1.7
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.2.1
packaging==20.3
pandas==1.0.3
pandas-profiling==2.3.0
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.0
pdfkit==0.6.1
pexpect==4.8.0
pgi==0.0.11.2
phik==0.9.11
phonenumbers==8.11.5
pickleshare==0.7.5
Pillow==7.1.1
pisa==3.0.33
plac==1.1.3
playsound==1.2.2
plotly==4.4.1
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.11.3
ptyprocess==0.6.0
purl==1.5
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==1.0.0
pycparser==2.20
PyDispatcher==2.0.5
PyFunctional==1.2.0
pygame==1.9.6
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pyLDAvis==2.1.2
pyod==0.7.8.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyrsistent==0.16.0
pytest==5.4.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python3-openid==3.1.0
pytorch-pretrained-bert==0.6.2
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.0
qrcode==6.1
qrplatba==0.3.4
queuelib==1.5.0
regex==2020.4.4
reportlab==3.5.44
requests==2.23.0
requests-oauthlib==1.3.0
resources==0.0.1
retrying==1.3.3
rsa==3.4.2
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22
scipy==1.4.1
Scrapy==2.1.0
seaborn==0.10.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
shap==0.32.1
sip==5.2.0
six==1.14.0
smart-open==2.0.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
soupsieve==2.0.1
spacy==2.2.4
sqlparse==0.3.1
srsly==1.0.2
suod==0.0.4
tabulate==0.8.7
tbb==2020.0.133
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
tflearn==0.3.2
thinc==7.4.0
tkintertable==1.3.2
toml==0.10.0
torch==1.5.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
Twisted==22.10.0
umap-learn==0.4.2
urllib3==1.25.8
w3lib==1.22.0
wasabi==0.6.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wordcloud==1.7.0
wrapt==1.12.1
xgboost==0.90
xhtml2pdf==0.2.4
yellowbrick==1.0.1
zipp==3.1.0
zope.interface==5.1.0
